<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
    <%= link_to "Foto Anterior", posts_path %>
      <% if user_signed_in? %>
      <% if current_user.id == @post.user_id %>
    <%= link_to "Editar Publicación", edit_post_path(@post) %> |
      <%= button_to "Eliminar Publicación", @post, method: :delete %>
    <% end %>
    <% end %>
</div>
